<div class="md-whiteframe-1dp" id="filter-address-bar">
    <div class="address-bar-inner-container" layout="row">

        <div class="toggle-layers-container">
            <md-button class="md-icon-button md-no-focus"
                       ng-click=""
                       md-no-ink>
                <md-tooltip md-direction="bottom">
                    Layers
                </md-tooltip>
                <md-icon>chevron_left</md-icon>
            </md-button>
        </div>

        <md-input-container md-no-float class="md-block" flex="100">
            <input id="filter-address-input" type="search" placeholder="Search address">
        </md-input-container>

        <span flex></span>

        <md-button class="md-icon-button"
                   md-no-ink>
            <md-tooltip md-direction="bottom">
                Search
            </md-tooltip>
            <md-icon>search</md-icon>
        </md-button>
    </div>
</div>
