.md-button {
  text-transform: capitalize;
  font-family: 'Roboto', sans-serif;
}

.icon-button {
  min-width: 50px;
}

.md-button.md-fab {
  line-height: 0px;
}

.md-button.md-sub-primary {
  background-color: $sub-primary-color;
  color: $primary-font-color;
}

.square-icon-button {
  min-width: 45px;
  padding: 0px !important;
  margin: 0px !important;

  md-icon {
    line-height: 1.4;
    font-size: 19px;
  }

  &:disabled {
    background-color: rgba(255, 255, 255, 0.5) !important;
  }
}

.box-button {
  //margin: 0;
  margin: 0.5rem;
  min-width: 60px;
  min-height: 55px;

  md-icon, span {
    display: block;
  }

  span {
    line-height: 1;
    padding: 0.5rem 0;
  }
}