$boxHeight: 500px;
$boxWidth: 320px;

$boxHeaderHeight: 100px;
$boxBodyHeight: 330px;
$boxButtonsHeight: 70px;

$constuctWidth: 280px;
$constuctHeight: 350px;

$unitWidth: 320px;
$unitHeight: 240px;

$infowindow-bg: #fff;

.property-infobox {
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, .2), 0 12px 17px 2px rgba(0, 0, 0, .14), 0 5px 22px 4px rgba(0, 0, 0, .12);

  > img {
    position: absolute !important;
    right: 0px;
    top: 0px;
    //right: -10px;
    //top: -10px;
  }
}


.unit-infobox {
  .info {
    width: $unitWidth !important;
    height: $unitHeight !important;

    .arrow {
      top: 115px !important;
      border-right-color: #fff !important;
    }

    .infobox-header {
      padding: 8px 0;
      height: auto !important;
      background-color: $primary-color;

      .body-header {
        width: 100% !important;
        padding: 0 12px;
        color: #fff;

        h3 {
          display: inline-block;
          margin: 4px 0;
        }

        > div {
          h3 {
            font-size: 16px;
          }
          span {
            float: right;
            margin: 5px 1px;
            border-radius: 10px;
            font-size: 9px;
            text-transform: uppercase;

            &:first-of-type {
              margin-right: 15px !important;
            }
          }
        }


      }

      .fab-right-top-btn {
        position: absolute;
        right: 10px;
        top: 35px;
      }

    }

    .infobox-body {
      background: #fff !important;
      height: 180px !important;
      overflow-y: auto;

      .body-content {
        padding: 5px 0 0 0;
      }
    }

  }
}


.construct-infowindow {
  .info {
    height: $constuctHeight !important;
    width: $constuctWidth !important;
    padding: 8px;

    .arrow {
      top: 165px !important;
      border-right-color: #fff !important;
    }

    .construct-infobox-header {
      img {
        max-width: $constuctWidth;
      }
    }

    .construct-infobox-body {
      label {
        font-size: 14px;
        font-weight: 600;
      }

      span {
        font-size: 13px;
      }

      .completion-percent {
        color: orange;

      }

      .completion {
        img {
          width: $constuctWidth;
          max-height: 80px;
          object-fit: cover;
        }
      }

      input {
        width: 80%;
        vertical-align: middle;
      }

      button.stop {
        display: none;
      }

      hr {
        border-color: rgba(0, 0, 0, 0.10);
      }

      p {
        font-size: 12px;
        @extend .text-muted;
      }
    }
  }
}

.marker_info {
  font-family: 'Roboto', sans-serif;


  .info {
    background-color: $infowindow-bg;
    width: $boxWidth;
    height: $boxHeight;
    position: relative;
    z-index: 11;
    border-radius: 3px;

    .arrow {
      width: 0px;
      height: 0px;
      position: absolute;
      padding: 0px;
      left: -28px;
      top: $boxHeight / 2;
      //border: 14px solid rgba(255, 0, 0, 0);
      border: 14px solid rgba(255, 0, 0, 0);
      border-right-color: #b6fbff;//$infowindow-bg;
      background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .infobox-header {
      height: $boxHeaderHeight;
      width: 100%;
      display: flex;
      flex-direction: row;

      img, .header-right-container {
        display: flex;
      }

      img {
        min-width: 120px;
        height: 100px;
      }

      .header-right-container {
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 0 1rem 0 1.5rem;

        p.header-right-property-name {
          padding: 0;
          font-size: 14px;
          font-weight: 600;
          margin: 0.25rem 0;
        }

        .header-right-property-sub {
          .header-right-average {
            color: #d35400;
            font-size: 13px;
          }

          .header-right-stars-container {
            padding: 0 0.25rem;

            .header-right-star {
              color: #d35400;
              font-size: 11px;
            }
          }

          .header-right-reviews {
            @extend .text-muted;
          }
        }

      }

    }

    .infobox-body, .infobox-footer {
      background: #83a4d4; /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      height: $boxBodyHeight;
      width: 100%;

      display: flex;
      flex-direction: column;

      .body-header {
        flex-direction: column;
        padding: .75rem 0.75rem 0;

        h3, p {
          @extend .text-muted;
          display: flex;
        }

        h3 {
          font-size: 1.45rem;
          margin: 0 0 .25rem;
        }

        p {
          margin: 0;
          font-size: 0.7rem;
          line-height: 1rem;
        }
      }

      .body-content {
        flex-direction: column;
        padding: 0.5rem 0;

        > label {
          @extend .text-muted;
          display: flex;
          font-size: .65rem;
          margin: .25rem 0.5rem;
          font-weight: 600;
        }

        .body-content-images-container {
          flex-direction: column;

          > div {
            flex-direction: row;

            img {
              cursor: pointer;
              margin: 3px;
              max-width: 100px;
              height: auto;
              box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
            }
          }
        }
      }

    }

    .infobox-buttons {
      background-color: #3F51B5;
      height: $boxButtonsHeight;
      width: 100%;
      flex-direction: row;
      display: flex;
      justify-content: center;

      button {
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
        padding: 0.5rem;
        color: #E0E0E0;

        span {
          font-size: 0.7rem;
        }

        i.material-icons {
          font-size: 1.35rem;
        }
      }
    }
  }

}