#admin-container {
  .md-dialog-container {
    flex: 1 1 50%;
    height: auto;
    max-height: 90%;
    min-height: 90%;
    max-width: 40%;
    right: 0px !important;
    left: auto;
    top: calc(5% - 10px) !important;
    box-sizing: border-box;
  }
}

.stick-right-modal {
  top: 0px;
  max-height: 100%;
  height: 100%;
  outline: none;
  flex: 1 1 100%;
  left: 0;

  md-dialog-content, md-tabs, form {
    height: 100%;
  }
  md-dialog-content {
    overflow: hidden;
  }

  md-tab-content {
    padding-top: 0;
  }

  md-dialog-actions {
    border-top-color: rgba(0, 0, 0, 0.05) !important;
  }
}

//#buildings-page {
.md-dialog-container {
  flex: 1 1 50%;
  //height: auto;
  max-height: 100%;
  //min-height: 90%;
  //max-width: 40%;
  max-width: 340px;
  left: 0px !important;
  right: auto;
  //top: calc(5% - 10px) !important;
  top: 0;
  box-sizing: border-box;
}

.md-dialog-container-default {
  flex: 1 1 100% !important;
  max-width: 100% !important;
}

//}

.stick-left-modal {
  top: -2%;
  max-height: 100%;
  //height: 100%;
  outline: none;
  flex: 1 1 100%;
  right: 0;

  md-dialog-content, md-tabs, form {
    height: 100%;
  }

  //md-dialog-content {
  //  overflow: hidden;
  //}

  md-tab-content {
    padding-top: 0;
  }

  md-dialog-actions {
    border-top-color: rgba(0, 0, 0, 0.05) !important;
  }
}


