$form-font-size: 0.8rem;
$max-height-item-list: 30px;

#selling-page {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  height: 100%;
  width: 340px;

  md-toolbar.selling-filter-header {
    min-height: 60px;
    max-height: 100px;

    .md-toolbar-tools {
      padding: 0;
    }
  }

  //.selling-filter-dialog {
  //}

}
