#index-container {
  padding: 0;
  margin: 0;
  min-height: calc(100vh - 42px);
  width: 100%;
  overflow-x: hidden;

  background-color: $globalBgColor;

  .widget-row-container {
    margin-top: 0;
  }

  .widget {
    background-color: #fff;

    .widget-content {
      color: #fff;

      .widget-value-container {
        p.md-body-2  {
          margin: 0;
          opacity: 0.6;
        }
      }

      md-icon {
        color: #fff;
        opacity: 0.9;
        font-size: 5rem;
        min-width: 1em;
        margin-left: 10px;
        margin-bottom: 50px;
      }

      .md-display-3 {
        font-weight: 100;
        margin: 0;
      }

      .md-body-2 {
        margin: 0;
        opacity: 0.60;
      }
    }

    .md-subhead, .md-body-1 {
      margin: 0;
    }

    button {
      md-icon {
        color: inherit;
      }
    }
  }
}

/* Remove Padding on Menu */
md-menu-content {
  padding-top: 0px;
  padding-bottom: 0px;
}

