<div id="selling-page" class="md-whiteframe-4dp" layout="column">

    <md-toolbar class="selling-filter-header md-warn">
        <div class="md-toolbar-tools" layout="column" layout-align="start center" layout-padding flex="100">
            <filter-address-bar></filter-address-bar>
            <span flex></span>
        </div>
    </md-toolbar>

    <div class="selling-filter-dialog" flex="nogrow">
        <property-filter></property-filter>
    </div>

    <property-list></property-list>
</div>
