<div id="selling-page" class="md-whiteframe-4dp" layout="column">

    <md-toolbar class="selling-filter-header md-warn">
        <div class="md-toolbar-tools" layout="column" layout-align="start center" layout-padding flex="100">
            <filter-address-bar></filter-address-bar>
            <span flex></span>
        </div>
    </md-toolbar>

    <div class="selling-filter-dialog" flex="nogrow">
        <property-filter></property-filter>
    </div>

    <property-list on-item-marker-click="onItemMarkerClick" on-list-item-click="onListItemClick" result="vm.result" property-selected-id="propertySelectedId"></property-list>
</div>


<md-card id="unit-status-legend" ng-if="showUnitLegend" ng-cloak flex> <!--   -->
    <ul>
        <li ng-repeat="(key, val) in unitMarkerIcons">
            <div layout="row" layout="center center">
                <img ng-src="{{ markerBaseUrl }}{{ val }}">
                <span class="text-muted">{{ key }}</span>
            </div>
        </li>
    </ul>
</md-card>